<!DOCTYPE html>
<html>
  <head>
    <title>PhotoGallery</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
